*{
    margin:0px;
    padding:0px;
}
#principal{

    display:grid;
    grid-template-columns: repeat (5, 1fr);
    grid-template-rows: 20% 10% 50% 10%;
    /*Diseñar grid con areas */
    grid-template-areas: 
        "cabecera cabecera cabecera cabecera cabecera"
        "menu menu menu menu menu"
        "contenido contenido contenido contenido lateral"
        "pie pie pie pie pie";
    
    width: 75%;
    height:1000px;
    margin:0px auto;
    border:1px solid #ccc;

    grid-column-gap:20px;

}

#cabecera{
    background: blue;
    color: white;
    grid-area: cabecera;
    
    /*Alinear elementos verticalmente y horizontalmente*/
    display:flex;
    justify-content: center;
    align-items: center;

}


#menu{
    background: lightblue;
    color:black;
    grid-area:menu;
    

    /*Centrar elementos del menu */
    /*display:flex;
    justify-content: center;
    align-items: center;*/
    line-height: 80px;

    
}

#menu ul {
    display:grid;
    grid-template-columns: repeat(9,1fr);
    grid-gap:25px;
    padding:20px;

    list-style: none;
    margin:0px;
    padding: 0px;
    
}
#menu ul a {
    color:white;
}
#contenido{
    background: #eee;
    
    /*Contenedor dentro de un contenedor */
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:25px;
    padding:20px;
    grid-area: contenido;
}

#contenido article{
    background: #ccc;
    border:1px solid #555;
    
}

#lateral{
    background: orange;
    color:white;
    grid-area: lateral;
    
}
#pie{
    background: black;
    color:white;
    grid-area:pie;
}
