*{
    margin:0px;
    padding:0px;
}
#principal{

    display:grid;
    grid-template-columns: repeat (5, 1fr);
    grid-template-rows: 20% 10% 50% 10%;

    width: 75%;
    height:1000px;
    margin:0px auto;
    border:1px solid #ccc;

}

#cabecera{
    background: blue;
    color: white;
    grid-column:1 / 6;
    /*Alinear elementos verticalmente y horizontalmente*/
    display:flex;
    justify-content: center;
    align-items: center;

}


#menu{
    background: lightblue;
    color:black;
    grid-column:1 / 6;

    /*Centrar elementos del menu */
    /*display:flex;
    justify-content: center;
    align-items: center;*/
    line-height: 80px;

    
}

#menu ul {
    display:grid;
    grid-template-columns: repeat(9,1fr);
    grid-gap:25px;
    padding:20px;

    list-style: none;
    margin:0px;
    padding: 0px;
}
#contenido{
    background: #eee;
    grid-column:1 / 5;
    /*Contenedor dentro de un contenedor */
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:25px;
    padding:20px;
}

#contenido article{
    background: #ccc;
    border:1px solid #555;
    grid
}

#lateral{
    background: orange;
    color:white;
    grid-column:5 / 6;
}
#pie{
    background: black;
    color:white;
    grid-column:1 / 6;
}
